# Python bytecode
__pycache__/
*.py[cod]

# Machine Learning artifacts / Checkpoints
logs_tpm/
models_tpm/
test_results_tpm.csv
*.npz
*.zip
*.pkl

# Generated data outputs
*.csv
report_train_QKD.json

# IDEs
.vscode/
.idea/

# Saved models (only last outputs traced)
models_tpm/

# Any plot file
plot_*.py